@font-face {
    font-family: 'Segoe';
    src: url("../fonts/Segoe-UI-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alter';
    src: url("../fonts/Alte-Haas-Grotesk-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'UniversLT';
    src: url("../fonts/Univers-LT-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
